<a href="/" class="navbar-brand d-flex align-items-center">
    <div style="font-size:2.5rem;color:rgba(30, 143, 255, 0.7);margin-right:1rem">
        <i class="fas fa-cloud"></i>
    </div>
    <div style="font-size:1.75rem">LOGO</div>
</a>

<div class="collapse navbar-collapse" id="navbarText">
    <span class="navbar-text ml-auto mr-3">
        Welcome, user!
    </span>
    <a class="btn btn-outline-dark">Logout</a>
</div>