a.btn-outline-dark:hover {
    color: white !important;
}

#sidebar>ul>li {
    height: 5rem;
}

#sidebar>ul>li:hover {
    background: #98c8ff77;
}

#sidebar>ul>li>a {
    color: #222;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.active-item {
    background: #98c8ff77;
}