<ul class="d-flex flex-column m-0 p-0 h-100" style="list-style-type:none">
    <li><a href="notebooks.html">Notebooks</a></li>
    <li><a href="users.html">Users</a></li>
    <li><a href="groups.html">Groups</a></li>
    <li class="mt-auto"><a href="settings.html">Settings</a></li>
</ul>