#headline {
    text-align: center;
    font-size: 300%;
    color: gold;
}

#paper {
    position: absolute;
    margin-left: 440px;
    background-color: white;
    border: 2px solid gray;
}

body {
    background-image: url("https://goo.gl/o2DsT7");
    opacity: 0.8;
}

#color_selector {
    position: absolute;
    top: 16%;
    left: 20%;
    color: darkblue;
    background-color: lightblue;
    border: 1px solid green;
    border-radius: 5px;
    padding: 2px;
}

#width_selector {
    position: absolute;
    top: 35%;
    left: 20%;
    color: darkblue;
    background-color: lightblue;
    border: 1px solid green;
    border-radius: 5px;
    padding: 2px;
}

#green {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 30px;
    height: 30px;
    background:green;
    border: 2px solid gray;
    cursor: pointer;
}

#blue {
    position: absolute;
    top: 20%;
    left: 23%;
    width: 30px;
    height: 30px;
    background:blue;
    border: 2px solid gray;
    cursor: pointer;
}

#red {
    position: absolute;
    top: 20%;
    left: 26%;
    width: 30px;
    height: 30px;
    background:red; 
    border: 2px solid gray;
    cursor: pointer;
}

#yellow {
    position: absolute;
    top: 26%;
    left: 20%;
    width: 30px;
    height: 30px;
    background:yellow;
    border: 2px solid gray;
    cursor: pointer;
}

#orange {
    position: absolute;
    top: 26%;
    left: 23%;
    width: 30px;
    height: 30px;
    background:orange;
    border: 2px solid gray;
    cursor: pointer;
}

#black {
    position: absolute;
    top: 26%;
    left: 26%;
    width: 30px;
    height: 30px;
    background:black;
    border: 2px solid gray;
    cursor: pointer;
}

#file {
    position: absolute;
    top: 56%;
    left: 20%;
    width: 129px;
    height: 30px;
    border-radius: 2px;
}

#undo {
    position: absolute;
    top: 62%;
    left: 20%;
    width: 60px;
    height: 30px;
    border-radius: 2px;
}

#redo {
    position: absolute;
    top: 62%;
    left: 24.5%;
    width: 60px;
    height: 30px;
    border-radius: 2px;
}

#save {
    position: absolute;
    top: 67%;
    left: 20%;
    width: 60px;
    height: 30px;
    border-radius: 2px;
}

#clear {
    position: absolute;
    top: 67%;
    left: 24.5%;
    width: 60px;
    height: 30px;
    border-radius: 2px;
}

#masterpiece {
    position: absolute;
    margin-left: 20px;
    background-color: white;
    display: none;
}

#px2 {
    position: absolute;
    top: 39.5%;
    left: 20%;
    width: 10px;
    height: 10px;
    background: white;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

#px3 {
    position: absolute;
    top: 39.3%;
    left: 21.5%;
    width: 13px;
    height: 13px;
    background: white;
    border: 2px solid gray;
    border-radius: 13px; 
    cursor: pointer;
}

#px4 {
    position: absolute;
    top: 39.1%;
    left: 23.2%;
    width: 16px;
    height: 16px;
    background: white;
    border: 2px solid gray;
    border-radius: 16px; 
    cursor: pointer;
}

#px5 {
    position: absolute;
    top: 38.9%;
    left: 25%;
    width: 19px;
    height: 19px;
    background: white;
    border: 2px solid gray;
    border-radius: 19px; 
    cursor: pointer;
}

#px6 {
    position: absolute;
    top: 38.7%;
    left: 27%;
    width: 22px;
    height: 22px;
    background: white;
    border: 2px solid gray;
    border-radius: 22px; 
    cursor: pointer;
}

#text {
    position: absolute;
    top: 43%;
    left: 78.25%;
    width: 40px;
    height: 40px;
    background: lightgray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#fonts {
    position: absolute;
    top: 39%;
    left: 71.5%;
}

#brush {
    position: absolute;
    top: 17%;
    left: 70%;
    width: 80px;
    height: 80px;
    background: #deb887;
    border-radius: 20px;
    cursor: pointer;
}

#eraser {
    position: absolute;
    top: 17%;
    left: 76%;
    width: 80px;
    height: 80px;
    background: lightblue;
    border-radius: 20px;
    cursor: pointer;
}

#circle {
    position: absolute;
    top: 30%;
    left: 70%;
    width: 45px;
    height: 45px;
    background: lightcoral;
    border-radius: 10px; 
    padding: 5px;
    cursor: pointer;
}

#spray {
    position: absolute;
    top: 51%;
    left: 78.25%;
    width: 50px;
    height: 50px;
    background: lightcyan;
    border-radius: 10px;
    cursor: pointer;
}

#rect {
    position: absolute;
    top: 30%;
    left: 74%;
    width: 45px;
    height: 45px;
    background: lightgreen;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

#tri {
    position: absolute;
    top: 30%;
    left: 78%;
    width: 45px;
    height: 45px;
    background: lightsalmon;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}